# Node modules, npm logs
node_modules
npm-debug.log

# Private data
.env

# IDE files
.vscode/

# Yii runtime directories
runtime/
*/runtime/
*/runtime/*
*/runtime/cache/
*/runtime/logs/
*/runtime/temp/

# Composer dependencies
vendor/

# Coverage reports
tests/_output/coverage/
tests/_output/coverage.xml
tests/_output/coverage.html

# Banner images
frontend/web/img/banner/